*{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
:root{
    --pink-bg: #E02C6D;
}
body{
    width: 1340px;
    box-sizing: border-box;
}
/* header section start */
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: gray;
}
.top-header a{
    text-decoration: none;
    color: black;
}
.nav ul{
    display: flex;
    gap: 30px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    padding: 10px 15px;
}
.nav ul li a:hover{
    background-color: var(--pink-bg);
    border-radius: 20px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.main-text{
    margin: 30px 0;
}
.main-text h1{
    font-size: 52px;
}
.pre-order{
    color: white;
    background-color: var(--pink-bg);
    padding: 18px 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
/* main section start */
.sponsor-company{
    width: 1060px;
    height: 40px;
    margin: auto;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;

}
/* popular section start */
.popular-part{
    position: relative;
    padding: 100px 0;
}
.popular-part>h2{
    text-align: center;
}
.popular-gear{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-top: 100px; */
}
.gear-item{
    /* border: 2px solid salmon; */
    margin: 30px;
    padding: 25px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.see-more{
    position: absolute;
    width: 99px;
    height: 24px;
    bottom: 30px;
    right: 35px;
    font-size: 18px;
    color: var(--pink-bg);
    cursor: pointer;
}
/* featured-item section start */
.featured-item{
    display: flex;
    gap: 70px;
    padding: 0 40px;
    align-items: center;
}
.featured-text h1{
    font-size: 44px;
}
/* footer section start */
footer{
    background-color: #0A0826;
width: 98%;
}
.footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    /* gap: 60px; */
    padding: 40px;
}
.copyright{
    line-height: 30px;
}
footer h3, p, a{
    color: white;
}
.social-link{
    margin-top: 50px;
}
.social-link a{
    margin: 10px;
}
.social-link i{
    background-color: rgba(182, 180, 180, 0.541);
    padding: 18px;
    border-radius: 50%;
}